
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <!--formhandling-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Šifra</th>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Datum rođenja</th>
                            <th>Pozicija</th>
                            <th>Pocetak ugovora</th>
                            <th>Kraj ugovora</th>
                            <th>Akcija</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%-include('include/_show')%>
                    </tbody>
                </table>
            </form>
            <div class="box-nav d-flex justify-between">
                <a href="/dodaj-igraca" class="border-shadow">
                    <span class="text-gradient">Novi igrac<i class="fas fa-user"></i></span>
                </a>
            </div>
        </div>
    </main>
<!--/Main Site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->